body {
    display: flex;
    justify-content: center;
}

#grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.gridRow {
    display: flex;
    flex-grow: 1;
    width: 100vh;
}

.gridSpot {
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 1%;
    flex-grow: 1;
}